body {
  font-family: "Montserrat";
  text-align: center;
}

#title {

  color: #fff;
}
.con{
  color:white;
}

.con p{
  font-size: xx-large;
}

.bg-image{
    
    
    position: absolute;
    z-index: -1;
    opacity: 1.5;
    width:100%;
    
}

h1 {
  
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
    padding: 50%;
  
  
}

h2 {
  font-family: "Montserrat-Black";
  font-size: 100px;
  line-height: 1.5;
}


/* navigationbar */
.navbar-section{
  padding:25px 30px;
  background-color: #222831;
}

.navbar {
 
 background-color: #222831;
 width: 100%;
 padding: 200px;
 
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 4rem;
  font-weight: bold;
  margin-left: 40px;
}

.nav-item {
  padding: 0 18px;
  font-size:50px;
  font-weight: 300;
  color: #fff;
  
}
.navbar-nav{
  margin-right: 55px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
  color: #fff;
}


/* Download buttons*/
.download-button {
  margin: 5% 3%;
}

/*title image*/
.title-image {
  
  transform: rotate(25deg);
  width:50%;
 padding-left: ;
  
}

.phone{
  width: 35%;
  margin-left: 220px;
  margin-bottom: 30px;
  margin-top:70px;
  
  
  
}
  #title {
   
    color: #fff;
    text-align: left;
  }
  
 .container-fluid{
  overflow: hidden;    
  /* removes blank space */
 } 

.button-class
{
  color:white;
  padding-left:0px;
}


.list {
  right: 10%;
}

/* feature*/
#features{

  padding:5%;
  color:inherit;
  background-color:white;
  align-content: center;
  width: 100%;
  
}
.feature-box{
  align-items: center;
  text-align:center;
}

.feature-title {
  font-size: 1.5rem;
  text-align: center;
  padding: 3% 3% 3% 0;
  color:black;
}

p {
  font-family: "Ubuntu";
  color: #8f8f8f;
  font-size: 15px;
}

h3 {
  font-family: 'Montserrat Alternates';
}

.icon {
  margin-bottom: 1rem;
  color: #27252a;
}

.icon:hover {
  color: #ff4c68;
}

/*testiminials*/
#content {
  text-align: center;
  background-color: #222831;
  color: #ffff;
  padding:5%;
}
#websites {
  background-color: #393e46;
  text-align: center;
  width: 100%;

}
.content p{
  font-size: 5rem;
  font-weight: bold;
}

.press-logo {
  margin: 20px 20px 50px;
  width: 15%;
}


/* pricing*/
#pricing {
  margin: auto;
  padding: 100px;
  text-align: center;
}

#pricing .change-color{
  color:black;
   

}

#pricing p{
  font-size: x-large;
}

#pricing h2{
  font-size: xx-large;
  font-weight: bolder;
}

.padding-column {
  padding: 3% 2%;
}

#top10 {
  text-align: left;
  padding: 2%;
  background-color: #222831;
  color: #fff;
}
#top10 p{
    color: #fff;
}
#top10-seg h3:hover{
  color: #d45d79;
}
hr
{
  border-top: 1px dashed red;
margin-right: 20%;
  left:0;
}
.colored-section {
  padding: 80px 0;
}



.big-heading {
  padding: 30px;
}

#footer {
   background-color: #222831;
  text-align: center;
}





.l
{
  color:white;
  margin-left: 0px;
  padding: 20%;
  font-size: 50px;
  text-align: left;
  
}
@media(max-width:1028px) {
  #title {
    text-align: center;
  }

  h1 {
    text-align: center;
    padding: 0;
  }

  .title-image {
    position: fixed;
    transform: rotate(0);
    align-content: center;
  }




}
